.features-list {
    margin-bottom: calc(-1* var(--typical-gap));

    @media screen and (min-width:768px) {
        display: flex;
        flex-wrap: wrap;   
        margin-left: calc(-1 * var(--typical-gap));
    }
}

.features-list__item {
    margin-bottom: var(--typical-gap);

    @media screen and (min-width:768px) {
        width: 354px;
        flex-basis: calc(100% / 2 - var(--typical-gap));  
        margin-left: var(--typical-gap);
    }

    @media screen and (min-width:1200px) {
        width: 270px;
        flex-basis: calc(100% / 4 - var(--typical-gap));
    }
}

.features-list__thumb {
    height: 120px;
    border-radius: 4px;
    background-color: var(--primary-bc-color);

    @extend %align-items;
    justify-content: center;

    margin-bottom: var(--typical-gap);
}

.features-list__title {
    margin-bottom: 10px;

    color: var(--title-text-color);

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    text-align: center; /* mob */

    @media screen and (min-width:768px) {
        text-align:left;
    }
}

.features-list__text {
    line-height: 1.71;
}

