.logo {
    color: var(--accent-primary-text-color);

    font-family: 'Raleway', sans-serif;
    @include font ($fs:24px);

    @media screen and (min-width:1200px) {
        @include font (null, 26px, 1.19, null);
    }
      
    /* font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em; */
}

.header__logo {
    display: inline-block;
    padding-top: 16px;
    padding-bottom: 16px;

    @media screen and (min-width:768px) {
        padding-top: 26px;
        padding-bottom: 26px;
        margin-right: 88px;
    }

    @media screen and (min-width:1200px) {
        padding-top: 24px;
        padding-bottom: 25px;
        margin-right: 93px;
    }   
}

.logo__studio {
    color: var(--primary-black-color);
}

.logo__studio--white {
    color: var(--primary-white-color);    
}