.section {
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width:1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.section--no-padding-top {
   display: none;

    @media screen and (min-width:1200px) {        
        display: block;
        padding-top: 0;
        padding-bottom: 94px;
    }
}

.section--primary-bc {
    background-color: var(--primary-bc-color);
}

.section__title {
    margin-top: 0;
    margin-bottom: var(--typical-gap);
    @include font ($fs: 28px);
    color: var(--title-text-color);
    text-align: center;
    
    @media screen and (min-width:1200px) {
        margin-bottom: 50px;
        @include font ($fs: 36px);
    }    
}

